Package: wstunnel
Version: $version
Section: utils
Priority: optional
Architecture: $arch
Maintainer: Stephan Seifermann <seiferma@users.noreply.github.com>
Description: Packaged wstunnel (Rust version)
